html {
    font-family: Roboto;
}

/*Header section*/
header {
    background-color: #1F2937;
}

.logo, 
.text-area h1, 
button, 
.long-box h1 {
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
}

ul, 
.text-area p,
.long-box p {
    color: #E5E7EB;
}

ul {
    list-style-type: none;
}

.text-area h1 {
    font-size: 48px;
    font-weight: 800;
}

.text-area p {
    font-size: 18px;
}

button {
    background-color: #3882F6;
}

.rounded {
    border-radius: 7%;
}

#no-outline {
    border: solid #3882F6;
}

/*Body section (boxes)*/
.boxes h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937
}

.pic-area img {
    border: solid #3882F6;
}

/*Body section (quote)*/
#quote {
    background-color: #E5E7EB;
}
blockquote {
    font-size: 36px;
    font-weight: 200;
    color: #1F2937;
    font-style: italic
}

/*Body section (call to action)*/
.long-box {
    background-color: #3882F6;
}
#outlined {
    border: solid white;
}

/*Footer*/
footer {
    background-color: #1F2937;
    color: #F9FAF8;
}