html {
    font-family: Roboto;
}

/*Header section*/
header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

nav,
ul {
    display: flex;
}

nav {
    padding: 10px 150px;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}

ul {
    margin-left: auto;
    list-style-type: none;
    gap: 20px;
}

.logo, 
.text-area h1, 
button, 
.long-box h1 {
    color: #F9FAF8;
}

main {
    display: flex;
    padding: 50px 150px;
}

ul, 
.text-area p,
.long-box p {
    color: #E5E7EB;
}

.text-area {
    width: 50%;
}

.text-area h1 {
    font-size: 48px;
    font-weight: 800;
}

.text-area p {
    font-size: 18px;
    flex-wrap: wrap;
}

button {
    background-color: #3882F6;
    width: 120px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
}

.rounded {
    border-radius: 10px;
}

#no-outline {
    border: solid #3882F6;
}

main img {
    width: 50%
}
/*Body section (boxes)*/

.boxes {
    margin-bottom: 75px;
}

.box-area {
    display: flex;
    padding: 0px 80px;
    justify-content: center;
}

.boxes h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    padding: 20px;
}

.pic-area {
    width: 15%;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
}
.pic-area img {
    border: solid #3882F6 5px;
    width: 150px;
    height: 150px;
    margin: auto;
}
.pic-area p {
    text-align: center;
}


/*Body section (quote)*/
#quote {
    background-color: #E5E7EB;
    padding: 100px 250px;
    display: flex;
    flex-direction: column;
}

blockquote {
    font-size: 36px;
    font-weight: 200;
    color: #1F2937;
    font-style: italic
}

#quote p {
    font-weight: bold;
    font-size: 24px;
    align-self: flex-end;
}

/*Body section (call to action)*/
.long-box {
    background-color: #3882F6;
    margin: 100px 180px;
    padding: 20px 20px;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

#call-action h1,
#call-action p {
    margin: 0;
}

.text-in-long-box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#outlined {
    border: solid white;
    justify-content: flex-end;
    align-self: center;
}

/*Footer*/
footer {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}