/*Header section*/
header {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    color: #E5E7EB
}

.text-area h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.text-area p {
    font-size: 18px;
    color: #E5E7EB;
}
button {
    background-color: #3882F6;
    color: white;
}

#no-outline {
    border: solid #3882F6;
}

/*Body section (boxes)*/
.boxes h1 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937
}

.pic-area img {
    border: solid #3882F6;
}

/*Body section (quote)*/
#quote {
    background-color: #E5E7EB;
}
blockquote {
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    font-style: italic
}

/*Body section (call to action)*/
.long-box {
    background-color: #3882F6;
}
#outlined {
    border: solid white;
}

/*Footer*/
footer {
    background-color: #1F2937;
    color: #F9FAF8;
}